In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
rating_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [5]:
rating = pd.read_csv(rating_url, sep='\t', low_memory=False)

In [6]:
basics.replace({'\\N':np.nan})

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9357308,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9357309,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9357310,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
9357311,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9357312,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [7]:
basics.dropna(subset=['runtimeMinutes','genres'],inplace=True)

In [8]:
movie_type = basics['titleType'].str.contains('movie', case = False)

In [9]:
basics = basics[movie_type]

In [10]:
start_date = '2000'
end_date = '2021'
start_year = (basics['startYear'] > start_date) & (basics['startYear'] <= end_date)

In [11]:
basics = basics[start_year]

In [12]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [13]:
akas.replace({'\\N':np.nan})

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
33762796,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
33762797,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
33762798,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
33762799,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
33762800,tt9916856,2,The Wind,NaN,NaN,original,NaN,1

In [14]:
akas.dropna(subset=['region'],inplace=True)

In [15]:
rating.replace({'\\N':np.nan})

            tconst  averageRating  numVotes
0        tt0000001            5.7      1922
1        tt0000002            5.8       259
2        tt0000003            6.5      1733
3        tt0000004            5.6       174
4        tt0000005            6.2      2544
...            ...            ...       ...
1245807  tt9916690            7.4         6
1245808  tt9916720            5.3       275
1245809  tt9916730            9.2         7
1245810  tt9916766            6.7        21
1245811  tt9916778            7.3        35

[1245812 rows x 3 columns]

In [16]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

11636      True
34793      True
61096      True
67642      True
77936      True
           ...
9357126    True
9357162    True
9357235    True
9357242    True
9357253    True
Name: tconst, Length: 216335, dtype: bool

In [17]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,\N,\N,"Action,Crime"
34793,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
61096,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,\N,70,Drama
67642,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama
77936,tt0079644,movie,November 1828,November 1828,0,2001,\N,140,"Drama,War"
...,...,...,...,...,...,...,...,...,...
9357126,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0,2019,\N,\N,Comedy
9357162,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama
9357235,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,\N,66,Drama
9357242,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
9357253,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N

In [18]:
us_movie = akas['region'].str.contains('US', case = False)

In [19]:
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
33762796,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
33762797,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
33762798,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
33762799,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
33762800,tt9916856,2,The Wind,\N,\N,original,\N,1

In [20]:
keepers2 =akas['titleId'].isin(rating['tconst'])
keepers2

0            True
1            True
2            True
3            True
4            True
            ...
33762796    False
33762797    False
33762798    False
33762799    False
33762800    False
Name: titleId, Length: 33762696, dtype: bool

In [21]:
akas = akas[keepers2]
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
33762549,tt9916766,3,Episodio #10.15,IT,it,\N,\N,0
33762550,tt9916766,4,Folge #10.15,DE,de,\N,\N,0
33762551,tt9916766,5,Episódio #10.15,PT,pt,\N,\N,0
33762552,tt9916766,6,एपिसोड #10.15,IN,hi,\N,\N,0
33762553,tt9916766,7,Épisode #10.15,FR,fr,\N,\N,0

In [22]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
rating.to_csv("Data/title_rating.csv.gz",compression='gzip',index=False)

In [23]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,\N,\N,"Action,Crime"
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,\N,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama
4,tt0079644,movie,November 1828,November 1828,0,2001,\N,140,"Drama,War"

In [24]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212003 entries, 0 to 212002
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          212003 non-null  object
 1   titleType       212003 non-null  object
 2   primaryTitle    212003 non-null  object
 3   originalTitle   212003 non-null  object
 4   isAdult         212003 non-null  int64
 5   startYear       212003 non-null  int64
 6   endYear         212003 non-null  object
 7   runtimeMinutes  212003 non-null  object
 8   genres          212003 non-null  object
dtypes: int64(2), object(7)
memory usage: 14.6+ MB

In [25]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4049228 entries, 0 to 33762553
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 278.0+ MB

In [26]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245812 entries, 0 to 1245811
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1245812 non-null  object
 1   averageRating  1245812 non-null  float64
 2   numVotes       1245812 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.5+ MB